*{
    box-sizing: border-box;
}

header,footer{
    background-color: gray;
    height: 100px;
    clear: both;
}

section{
    height: 300px;
    float: left;
    width: 33.33%;
    border: 3px solid black;
}

@media screen and (max-width: 400px){
    section{
        width: 100%;
    }
}

@media (min-width: 401px) and (max-width: 820px){
    section{
        width: 50%;
        float: left;
    }

    .thiccOne{
        width: 100%;
    }
}