h1{
    color: blue;
    text-decoration: underline;
    background-color: gold;
}

h2{
    color: purple;
    font-weight: 700;
    font-size: 25px;
    border: 1px solid orange;
}

section{
    width: 50%;
    height: 200px; 
    background-color: grey;
    border: 1px solid black;
}

p{
    color: white;
}

footer{
    background-color: black;
    border: 2px solid lightgreen;
}

h3{
    font-size: 20px;
    font-family: "Roboto";
    color: white;
}