*{
    box-sizing: border-box;
}

header,footer{
    height: 200px;
    border: 2px solid black;
    clear: both;
}

section{
    height: 200px;
    width: 33.3333%;
    float: left;
    border: 2px solid black;
}

.bigBottom{
    width: 50%;
}