/* Please Make only Rhino and Zebra Blue */
#zebra,#rhino{
    color: blue;
}
/* Please Make only Hufflepuff Gold */
#bestHouse{
    color: gold;
}
/* Please select Duck with the highest level of specificity possible */

article > h2 .likesToQuack .fight1Or100{
    color: black;
}

/* Please select Rhino with the highest level of specificity possible */
section>h2 .africa .fourLegs #rhino{
    color: black;
}