/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
  height:50px;
  border-bottom: 1px solid lightgrey;
}

ul{
  list-style-type: none;
  margin: 0 auto;
  width: 1200px;
}

li{
  display: inline;
  margin: 0 30px;
}

img{
  height: 50px;
}

#kidsLearning{
  height: 450px;
  float: left;
  margin-left: 100px;
}

section{
  padding-top: 200px;
  padding-right:200px;
}

button{
  background-color: blue;
  color: white;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
